@font-face {
    font-family: DINPro-Black;
    src: url('/src/fonts/DINPro/DINPro-Black.otf');
}
@font-face {
    font-family: DINPro-Bold;
    src: url('/src/fonts/DINPro/DINPro-Bold.otf');
}
@font-face {
    font-family: DINPro-Light;
    src: url('/src/fonts/DINPro/DINPro-Light.otf');
}
@font-face {
    font-family: DINPro-Medium;
    src: url('/src/fonts/DINPro/DINPro-Medium.otf');
}
@font-face {
    font-family: DINPro-Regular;
    src: url('/src/fonts/DINPro/DINPro-Regular.otf');
}

